.footer {
  width: 87%;
  margin: 2rem auto 0 auto;
  padding: 0.8rem 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  justify-content: space-between;
  align-items: center;
  &_left {
    display: flex;
    p {
      cursor: pointer;
      margin-right: 20px;
      &:hover {
        border-bottom: 1px solid rgba(0, 0, 0, 0.4);
      }
    }
    &_copyright {
      color: #757575;
      margin-right: 20px;
    }
  }
  &_right {
    display: flex;
    align-items: center;
    img {
      height: 1rem;
      margin-right: 0.5rem;
    }
  }
}
