.parent_container {
  width: 100%;
  background-color: #fff;
}
.container {
  padding: 1rem;
  width: 65%;
  margin: 0 auto;
  border-radius: 0.25em;
  background-color: #fff;
  &_toolbar {
    display: none;
  }
  &_editor {
    margin: 2rem 0;
  }
  &_title {
    margin-bottom: 0.2rem;
    font-size: 2rem;
    font-weight: 900;
  }
  &_tags {
    display: flex;
    flex-wrap: wrap;
  }
  &_tag {
    margin: 0.7rem 0;
    margin-right: 0.5rem;
    padding: 0.4rem;
    border: 1px solid black;
    font-size: 1rem;
    display: inline-block;
    border-radius: 0.25em;
  }
}
