.editor {
  background: rgb(233, 233, 233);
  width: 100%;
  min-height: 100%;
  padding: 6rem;
  h3 {
    margin: 1.5rem 0;
    font-size: 1.5rem;
    color: rgb(8, 8, 8);
  }
  button {
    padding: 0.7rem;
    margin: 1.5rem auto;
    cursor: pointer;
  }
  .title {
    h4 {
      margin: 0.7rem 0;
      font-size: 1.2rem;
    }
    input {
      width: 100%;
      padding: 1rem;
      font-size: 1rem;
      outline: none;
      border: none;
      font-family: "Merriweather", "Georgia", serif;
      &:hover {
        border: 1px solid goldenrod;
        transition: all 0.6 cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
  &_body {
    margin: 0.7rem 0;
    font-size: 1.2rem;
  }
}
.editorjs {
  background: #fff;
  font-size: 1.2rem;
  min-height: 60vh;
  &:hover {
    border: 1px solid goldenrod;
    transition: all 0.6 cubic-bezier(0.215, 0.61, 0.355, 1);
  }
}
